body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: grid;
    border: none;
    
}



div {
    
    
    display: grid;
    border: 1px solid black;
    flex-direction: column;
    gap: 1em

}

.main-container{
    border: none;

}



#first-block {
    
    border: none;
    background-color: red;
    height: 20vh;
    
}

.second-block {
    margin-left: 1em;
    border: none;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em
    border: none;
    margin-right:1em;
}

.third-block {
    margin-left: 1em;
    border: none;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    margin-right:1em;
    
}

.blc-block{
    margin-left: 1em;
    border: none;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    margin-right:1em;
    
}

.wht-block {
    
    grid-template-columns: 1fr 1fr 1fr;
    border: none;
    margin-left: 1em;
    margin-right:1em;
}

.blue-block {
    
    background-color: blue;
    justify-items: center;
    align-items: center;
    
    
}


.yellow-block {

    background-color: yellow;
    justify-items: center;
    align-items: center;
}

.green-block {
    background-color: green;
    justify-items: center;
    align-items: center;
}

.black-block {
    background-color: black;
    color: white;
    justify-items: center;
    align-items: center;
}

.white-block {
    background-color: white;
    justify-items: center;
    align-items: center;
}



.blue-yel{
    grid-template-columns: 1fr 1fr;
    border: none;
    margin-left: 1em; 
    margin-right: 1em;
    height: 20vh;
}
.verde{
    grid-template-columns: 1fr;
    margin-left: 1em; 
    margin-right: 1em;
    height: 20vh;

}

.third-block{
    grid-template-columns: 1fr 1fr;
    height: 20vh;
   
    
}

.verde2 {
    grid-template-columns: 1fr;
    margin-left: 1em; 
    margin-right: 1em;
    height: 20vh;
}

.blc-block{
    height: 60vh;
    grid-row-start: ;
}

.wht-block{
    grid-template-columns: 1fr 1fr;
    height: 20vh;

}
.last-block{
    grid-template-columns: 1rf;
    margin-left: 1em;
    margin-right: 1em;
    height: 20vh;
}
