
.menu ul{
    height: 60px;
    background-color: #45b3e6;
    margin: -5px;
    list-style: none ;
    padding-left: 70%;
    position: fixed;
    

}
 
.menu li{
    display: inline-block;
    padding: 10px;
    
}

.menu li a{
    text-decoration: none;
    color: beige;
    font-family: fantasy;

}

.redes ul{
    list-style: none;
    background-color: #f3f5f7;
    

}
.redes ul li{
    display: inline;
}